A {
  text-decoration: none;
}
A:link {
  color: #056614;
}
A:visited {
  color: #056614;
}
A:hover {
  color: black;
  background: #eeeeee;
  border: blue;
}
A:active {
  color: blue;
}
hr {
  background-color: #056614;
  color: #056614;
  border-top: 1px solid #056614;
  border-left:1px solid #056614;
  border-bottom: 2px solid #056614;
  border-right: 2px solid #056614;
}
body {
  color: #000000;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
font {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.error {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  color: red;
  font-weight: normal;
}
td {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
td.border {
  background-color: white;
  border-top: 1px solid #ccc;
  border-left:1px solid #ccc;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
}

select {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
input {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}

blockquote {
    border: dashed 1px #056614;
    padding: 10px;
}

blockquote.edit {
    background: #ececec;
    border: 1px dashed #000000;
    font-style: italic;
}
